/* html {
  font-size: 1vw;
} */

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 25%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  background-color: black;
  color: white;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 5em !important;
  }
}

.bg-primary {
  background-color: #8f613a !important;
  color: white !important;
}

.bg-success {
  background-color: #82aa66 !important;
  color: white !important;
}
.bg-warning {
  background-color:	#4a6b78 !important;
  color: white !important;
}
.bg-danger {
  background-color: #f0d49a !important;
  color: black !important;
}
